/* CSS - Cascading Style Sheet */

/* CSS target is  screens <=240px*/
/* Target is also and old cellphone with a old android browser agent that does not support HTML5*/


h1{
    font-size:1.25em;
    margin-bottom:0.33em;
    margin-top:0.33em;
}
main{
    max-width:15em;
    width:100%;
    min-width:12.5em;
}

#contactForm{
    min-width:12.5em;
}


/* sprite icons for menu*/
/*
#home,
#exercises,
#communication,
#introduction {
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 1.5em;
    width:11em;
    padding:0;
}

#exercises,#introduction,#communication,#home:hover,#exercises:hover,#introduction:hover,#communication:hover {
    background-position: 0;
}
*/
