/* CSS - Cascading Style Sheet */

/* CSS target is  screens <=240px*/
/* Target is also and old cellphone with a old android browser agent that does not support HTML5*/


h1{
    font-size:1.25em;
    margin-bottom:0.33em;
    margin-top:0.33em;
}
main{
    max-width:15em;
    width:100%;
    min-width:12.5em;
}

#contactForm{
    min-width:12.5em;
}
