a{
    clear:both;
    display:block;
    float:left;
}
input,label,#pricemodel{
    float:left;
    display:block;
    width:250px;
    padding:0;
    margin:0;
}
fieldset{
    margin-left:0;
    padding-left:0;
    border-style:none;
    border-width:0px;
}
#contactForm{
    margin:auto;
    width:400px;
    float:left;
    padding:0;
    border-style:none;
    display:block;
}
#button{
    width:10em;    
    background-color:orange;
    border-radius:5px;
    color:white;
    border-width:0;
    padding:0.2em;
    margin-top:0.2em;
}
div{
    float:left;
    display:block;
    padding:0;
    margin:0;
}
.warning{
  margin:0;  
  padding:0;
  color:red;
  display:none;
}
input:valid{
    outline-color:green;
}
input:invalid{
    outline-color:red;
    
}
form:valid{
    background-color:green;
}
form:invalid > span{
    display:block;
}
form:invalid{
    background-color:red;
}
input:focus:valid{
    background-color:green;
}
input:focus:invalid{
    background-color:red;
}
:-moz-placeholder {
	color: blue;
}

::-webkit-input-placeholder {
	color: blue;
}
