/* CSS - Cascading Style Sheet */


/* CSS target is 480px < phones >240px */
main{
    margin:0;
}

section
section {
    max-width: 30em;
    width: auto;
    min-width: 12.5em;
}
section{
    max-width:30em;
}

section.large {
    max-width:30em;
    min-width: 12.5em;
    width: 100%;
    clear: left;
}