body {
    margin: 0 auto;
    margin-bottom:50px;
    background-color: #DAE1E3;
    top: 0px;
}

h1 {
    margin: 0px;
    text-align: left;
}

main {
    margin: 0px auto;
    max-width: 1000px;
    width: 1000px;
    min-width: 1000px;
    /* orange */
    background-color: #D1930D;
    position: relative;
    bottom: 50px;
    top: 0px;
    overflow:hidden;
}

header {
    margin: 0 auto;
    background-color: #80D6ED;
    max-height: 100px;
}

header img {
    display: block;
    margin: 0 auto;
    max-height: 100px;
    alignment-adjust: middle;
}

nav {
    margin: 0px auto;
    float: left;
    background-color: #F0F0F0;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}

section {
    margin: 0px auto;
    background-color: #DBBDDB;
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    float: left;
}

section section {
    margin: inherit;
    background-color: #DBBFFF;
}

section img {
    max-width: 25%;
}

article {
    margin: 0px auto;
    background-color: #3C6D7D;
    position: relative;
}

.large section {
    position: relative;
    width: 800px;
    max-width: 800px;
    overflow:auto;
}
.large article{
    position: relative;
    width: 800px;
    max-width: 800px;
    overflow:auto;
    height:1000px;
}

article video {
    max-width: 300px;
    min-width: 300px;
}

aside {
    margin: 0 auto;
    float: left;
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    max-height: 100%;
    background-color: #FFFFFF;
}

footer {
    margin: 0 auto;
    float: left;
    max-height: 2em;
    height: 2em;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    text-align: right;
    background-color: #E3D5A8;
    position: relative;
}

.blogg-entry {
    background-color: #3CDDDD;
}

.signatur {
    background-color: #3C6FFF;
}


/*
    Hur kontaktformuläret ska bete sig. Använde div eftersom jag inte hittade
    en annan lämplig strukturtag för det
*/

#contactForm {
    float: left;
    background-color: #FFFFFF;
    width: 800px;
    max-width: 800px;
    min-width: 800px;
}


/* TODO */

table {
    border: 1px;
    border-color: black;
}
