/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=5040u0ku-pzkUvRqxu3ypkVGQfL */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #CC1C09 }	/* Main Primary color */
.color-primary-1 { color: #FE6858 }
.color-primary-2 { color: #F03C29 }
.color-primary-3 { color: #A71000 }
.color-primary-4 { color: #7E0C00 }

.color-secondary-1-0 { color: #CC6809 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FEA958 }
.color-secondary-1-2 { color: #F08A29 }
.color-secondary-1-3 { color: #A75100 }
.color-secondary-1-4 { color: #7E3D00 }

.color-secondary-2-0 { color: #A90857 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #D2498C }
.color-secondary-2-2 { color: #C62273 }
.color-secondary-2-3 { color: #8A0044 }
.color-secondary-2-4 { color: #680033 }

/* 
    Color styling
*/
body{
    background-color: #7E0C00;
}
main{
    background-color: #F03C29;    
}

h1{
    color: #680033;
}
/*
 Url colors
*/
:visited{
    color: #7E0C00
}
:link{
    color: #CC1C09;
}

header{
    background-color: #F08A29;    
}

nav{
    background-color: #FE6858;
}
section{
    background-color: #F03C29;
}
article{
    background-color: #F03C29;
}
aside{
    background-color: #CC1C09;
}
footer{
    background-color: #A71000;
}
section section{
    background-color: #F03C29;
}

.blogg-entry {
    background-color: #F08A29;
}
.signatur {
    background-color: #FEA958;
}
#contactForm{
    background-color: #CC1C09;
}
.large article{
    
}

/*
    Positioning and other
*/
body {
    margin: 0 auto;
    margin-bottom:50px;
    top: 0px;
    /* So all pages are exactly the same(scrollbar not visible in kontakt.html due to too little content   */
    overflow-y:scroll;
}

main {
    margin: 0px auto;
    max-width: 1200px;
    width: 1000px;
    min-width: 960px;
    position: relative;
    bottom: 50px;
    top: 0px;
    overflow:hidden;
}

header {
    margin: 0 auto;
    max-height: 6em;
}

header img {
    display: block;
    margin: 0 auto;
    max-height: 6em;
}

/* Navigation*/

/* Nav is in pixels since inherited nav's use parents nav no matter what you set them as apparently*/
nav {
    float: left;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
}
nav nav{
    clear:left;
    width:100%;
}

nav ul,nav dl{
    background-color:#A90857;
}

nav ul,nav nav dl{
    float:left;
    list-style-type:none;
    list-style:none;
    text-decoration:none;
    width:100%;
    /*border: solid 1px #000;*/
}
nav:hover,nav nav:hover{
    background-color: #680033;
    color:#FFFFFF;
}
nav:hover > ul li ,nav nav:hover > dl dd{
    display:block;
}

nav ul li,nav nav dl dd{
    background-color: #A90857;
    /*border: solid 1px #000;*/
}

nav ul li,nav nav dl dd{
    display:none;
    list-style:none;
    float:left;
    text-align: left;
    width:100%;
    height:100%;
}

nav ul li:hover,nav nav dl dd:hover{
    background-color: #D2498C;
}

nav ul li a,nav nav dl dd a{
    float:left;
    width:100%;
}

nav ul li a:link,nav ul li a:visited,nav ul li a:active,nav nav dl dd a:link, nav nav dl dd a:visited, nav nav dl dd a:active{
    text-decoration:none;
    height:inherit;
    width:inherit;
}

nav ul li:hover > a, nav nav dl dd:hover > a{
    color:#FFFFFF;
}


/* Content containers */

section {
    margin: 0px auto;
    max-width: 40%;
    width: 40%;
    min-width: 40%;
    float: left;
}

section section {
    margin: inherit;
}

section img {
    max-width: 25%;
}

article {
    margin: 0px auto;
    position: relative;
}

.large section {
    position: relative;
    width: 80%;
    max-width: 80%;
    overflow:auto;
}
.large article{
    position: relative;
    width: 80%;
    max-width: 80%;
    overflow:auto;
    height:1000px;
}

article video {
    max-width: 30%;
    min-width: 30%;
}

aside {
    margin: 0 auto;
    float: left;
    max-width: 40%;
    width: 40%;
    min-width: 40%;
    max-height: 100%;
}

footer {
    margin: 0 auto;
    float: left;
    max-height: 2em;
    height: 2em;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    text-align: right;
    position: relative;
}

/*
    Hur kontaktformuläret ska bete sig. Använde div eftersom jag inte hittade
    en annan lämplig strukturtag för det
*/

#contactForm {
    float: left;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
}


/* TODO */

table {
    border: 1px;
    border-color: black;
}
.active{
    color:gray;
}
a:active{
    color:green;
}
}
